/**
 * Global
 */

html, body {
	margin: 0;
	padding: 0;
	background: #F7F7F7;
	font-family: sans-serif;
	font-weight: 300;
	color: #333;
}

/* allow <a> shapes */
a.shape {
	display: block;
	cursor: pointer;
	text-decoration: none;
	color: #333;
}

/**
 * Learning canvas
 */

.skillset .tree {
	background: #EEE;
}

.skillset {
	padding-top: 15px;
	padding-right: 30px;
	padding-bottom: 15px;
	position: relative;
}

.skillset > .inner {
	min-height: 500px;
	padding: 75px 0;
	position: relative;
	border-radius: 4px;
	background: #EEE;
}

.skillset-title {
	margin: 0;
	padding: 16px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	background: #DDD;
}

.skill {
	padding: 35px;
	position: relative;
}

.skill .shape {
	width: 60px;
	height: 60px;
	position: relative;
	border: 1px solid #417CA2;
	background: #2A81B4;
}

.skill .shape-square {
	border-radius: 2px;
}

.skill .shape-circle {
	border-radius: 100px;
}

.skill .shape .level {
	width: 30px;
	height: 30px;
	margin: auto;
	position: relative;
	top: 15px;
	text-align: center;
	font-size: 20px;
	line-height: 34px;
	color: #8C8B86;
	border-radius: 2px;
	border: 1px solid #85B2D9;
	background: #FFFFFF;
	overflow: hidden;
}

.skill .shape .title {
	position: absolute;
	top: 100%;
	left: -20px;
	right: -20px;
	padding: 6px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
}