/**
 * Tree, nodes, links
 */

.tree {
	/* (min width set in JS) */
	/* (height adjusts natively) */
	margin: auto;
	position: relative;
}

.node {
	/* (min size set in JS) */
	/* (based on .inner's size) */
	position: relative;
	z-index: 20; /* above .link */
}

.node > .inner {
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.node > .children {
	width: 1px; /* only needs height */
	position: relative;
	left: 100%;
}

.link {
	width: 4px;
	/* (height set in js) */
	position: absolute;
	/* (top & left set in js) */
	z-index: 10;
	border-radius: 4px;
	background: #929292;
	/* hacks to make line smoother */
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	/* rotation anchor position */
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	/* (rotation set in js) */
}

.subtree {
	margin: 10px 20px;
	position: relative;
	z-index: 100;
	border-left: 4px solid #929292;
	border-right: 4px solid #929292;
}


/**
 * Scroller
 */

.scroll-container {
	position: relative;
	overflow: hidden;
}

.scroll-container .zoom-controls {
	position: absolute;
	left: 15px;
	bottom: 15px;
	z-index: 9000;
}

.scroller {
	position: relative;
	overflow: auto;
}

.scrolled {
	min-width: 100%;
	min-height: 100%;
	position: relative;
	cursor: move;
}


/**
 * Utility
 */

.vertically-center-relative {
	position: relative;
}

.shadow-in {
	position: absolute;
	z-index: 10000;

	border: 2px solid #777;
}
.shadow-in.top {
	height: 11px;
	top: -10px;
	left: 0;
	right: 0;
/*	-webkit-box-shadow: 0 0 10px 0 black;
	   -moz-box-shadow: 0 0 10px 0 black;
	        box-shadow: 0 0 10px 0 black;*/
}
.shadow-in.left {
	width: 11px;
	top: 0;
	left: -10px;
	bottom: 0;
/*	-webkit-box-shadow: 0 0 10px 0 black;
	   -moz-box-shadow: 0 0 10px 0 black;
	        box-shadow: 0 0 10px 0 black;*/
}
.shadow-in.right {
	width: 11px;
	top: 0;
	right: -10px;
	bottom: 0;
/*	-webkit-box-shadow: 0 0 10px 0 black;
	   -moz-box-shadow: 0 0 10px 0 black;
	        box-shadow: 0 0 10px 0 black;*/
}
.shadow-in.bottom {
	height: 11px;
	left: 0;
	right: 0;
	bottom: -10px;
/*	-webkit-box-shadow: 0 0 10px 0 black;
	   -moz-box-shadow: 0 0 10px 0 black;
	        box-shadow: 0 0 10px 0 black;*/
}