html, body {
	margin: 0;
	padding: 0;
	background: #F7F7F7;
	font-family: sans-serif;
	font-weight: 300;
	color: #333;
}

.tree {
	/* width set in JS */
	/* height adjusts natively */
	margin: auto;
	position: relative;
}

.node {
	/* min size set in JS */
	/* based on .inner's size */
	position: relative;
}

.node > .inner {
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.node > .children {
	position: relative;
	left: 100%;
}

.tile {
	width: 124px;
	height: 124px;
	margin: auto;
	position: relative;
	z-index: 100;

}
.tile .shape {
	width: 60px;
	height: 60px;
	margin: auto;
	position: relative;
	border-radius: 2px;
	border: 1px solid #777;
	background: #2A81B4;
}
.tile .shape-square {

}
.tile .shape-circle {
	width: 60px;
	height: 60px;
	border-radius: 100px;
}
.tile .shape .level {
	width: 30px;
	height: 30px;
	margin: auto;
	position: relative;
	top: 15px;
	text-align: center;
	font-size: 20px;
	line-height: 34px;
	color: #8C8B86;
	border-radius: 2px;
	border: 1px solid #9CBAD9;
	background: #FFFFFF;
	overflow: hidden;
}
.tile .title {
	position: absolute;
	top: 100%;
	left: -20px;
	right: -20px;
	padding: 6px;
	text-align: center;
	font-size: 15px;
	line-height: 18px;
}

.link {
	width: 4px;
	/* (height set in js) */
	position: absolute;
	/* (top & left set in js) */
	z-index: 10;
	border-radius: 4px;
	background: #929292;
	/* hacks to make line smoother */
	outline: 1px solid transparent;
	-webkit-backface-visibility: hidden;
	/* rotation anchor position */
	-webkit-transform-origin: top center;
	-moz-transform-origin: top center;
	-ms-transform-origin: top center;
	-o-transform-origin: top center;
	transform-origin: top center;
	/* (rotation set in js) */
}

.subtree {
	padding: 10px 20px;
	position: relative;
	z-index: 100;
}

.subtree > .tree {
	border-left: 4px solid #929292;
	border-right: 4px solid #929292;
	background: #F7F7F7;
}